@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");

html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 80%;
  margin: 0 auto;
}

h1,
h2,
h3,
h4,
p,
a,
button,
summary,
label {
  font-family: Manrope, sans-serif;
  font-weight: 400;
  letter-spacing: -1px;
  line-height: 100%;
}

li {
  list-style-type: none;
}

h3 {
  font-size: 18px;
}

.title_section {
  font-size: 18px;
}

/* header */

#header_menu {
  display: flex;
  margin: 33px auto 70px;
  justify-content: space-between;
}

#menu {
  display: flex;
  width: 33%;
  justify-content: space-between;
}

.menu_item {
  text-decoration: none;
  font-size: 18px;
  font-weight: 400;
  color: #121212;
  transition: 0.3s;
}

.menu_item:hover {
  color: grey;
  text-decoration: underline;
  text-underline-offset: 8px;
}

#header_intro {
  position: relative;
  margin-bottom: 150px;
}

h1 {
  font-size: 60px;
  line-height: 60px;
  color: #121212;
  width: 87%;
  margin-bottom: 30px;
}

#head_bg {
  width: 100%;
  object-fit: cover;
  height: 500px;
}

#head_info {
  position: absolute;
  left: 40px;
  bottom: 40px;
  font-size: 20px;
  color: #ffffff;
  width: 28%;
  line-height: 1.5;
}

/* about us */

#text_about {
  font-size: 45px;
  margin: 30px 0;
  line-height: 1.5;
  width: 71%;
}

#button_see_services {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  width: 255px;
  height: 67px;
  background-color: #ad1818;
  border-radius: 5px;
  font-size: 20px;
  text-decoration: none;
  color: white;
}

/* projects */

#projects {
  margin-top: 150px;
}

.project_card {
  margin: 30px 0;
}

.title_card {
  margin: 20px 0;
  font-size: 30px;
}

.picture_card {
  width: 100%;
  object-fit: cover;
}

summary {
  cursor: pointer;
  color: #ad1818;
  list-style: none;
  font-size: 20px;
}

.projects_info {
  font-size: 18px;
  width: 70%;
  margin: 20px 0;
  line-height: 1.5;
}

#see_all_prj {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 153px;
  color: #ad1818;
  font-size: 30px;
  border: 1px solid #ad1818;
  border-radius: 5px;
  cursor: pointer;
  margin: 100px 0;

  transition: 0.3s;
}

#see_all_prj:hover {
  background-color: #ad1818;
  color: white;
}

#show_projects {
  display: none;
}

.hidden_projects {
  display: none;
}

#show_projects:checked ~ .hidden_projects {
  display: block;
}

/* services */

#services_section {
  background-color: #121212;
}

#service_card_wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 11px;
}

#title_serv {
  color: white;
  margin-bottom: 34px;
  padding-top: 150px;
}

.price_bar {
  font-size: 22px;
  color: white;
  background-color: #ad1818;
  width: 211px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 30px;
  top: 31px;
}

.service_card {
  position: relative;
  margin-bottom: 85px;
}

.img_service {
  width: 100%;
  object-fit: cover;
}

.service_info {
  color: white;
  margin-top: 16px;
  font-size: 30px;
  width: 33%;
  line-height: 1.25;
}

#order_service {
  width: 100%;
  height: 153px;
  background-color: #ad1818;
  border: 1px solid #ad1818;
  color: white;
  font-size: 30px;
  cursor: pointer;
  margin: 21px 0 150px;
}

/* reviews */

#title_review {
  margin: 150px 0 30px;
}

#reviews_up_wrap {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

#reviews_up_wrap .review_card {
  width: 42%;
}

.review_card p {
  margin-bottom: 20px;
}

.review_card_title {
  font-size: 45px;
  margin-bottom: 14px;
}

.review_text {
  font-size: 22px;
  line-height: 1.5;
}

#review_down_card {
  width: 56%;
}

/* gallery */

#gallery_section {
  position: relative;
  margin: 137px 0 150px;
}

.swiper {
  width: 100%;
}

#swiper_container {
  position: absolute;
  inset: 0;
  z-index: 2;
}

#gallery_title {
  font-size: 22px;
  color: white;
  position: absolute;
  top: 60px;
}

.swiper-slide img {
  width: 100%;
  object-fit: cover;
  height: 991px;
}

#swiper_info {
  position: absolute;
  bottom: 15%;
  color: white;
  font-size: 30px;
  width: 28%;
  line-height: 1.5;
}

#gallery_navigation {
  position: absolute;
  bottom: 30%;
  left: 0;
  display: flex;
  width: 100px;
  gap: 20px;
}

.swiper-button-prev,
.swiper-button-next {
  --swiper-navigation-color: transparent;

  width: 50px;
  height: 50px;

  background-repeat: no-repeat;
  background-position: center;
}

/* contacts */

#link_wrapper {
  display: flex;
  justify-content: space-between;
  width: 80%;
}

.contact_link {
  display: block;
  margin: 32px 0;
  font-size: 60px;
  text-decoration: none;
  color: #121212;
  transition: 0.3s;
}

#link_phone:before {
  content: "";
  display: block;
  margin-bottom: 26px;
  margin-left: -2px;
  background-image: url("../assets/pictures/icon.png");
  width: 24px;
  height: 24px;
}

#link_mail:before {
  content: "";
  display: block;
  margin-bottom: 26px;
  margin-left: 2px;
  background-image: url("../assets/pictures/icon_mail.png");
  background-repeat: no-repeat;
  width: 24px;
  height: 24px;
}

.contact_link:hover {
  color: grey;
  text-decoration: underline;
  text-underline-offset: 12px;
}

/* footer */

footer {
  margin-top: 160px;
  background-color: #121212;
  text-align: center;
}

#footer_menu {
  padding-top: 60px;
  margin-bottom: 87px;
  display: flex;
  justify-content: center;
  gap: 50px;
}

.footer_menu_item {
  color: white;
  font-size: 18px;
  text-decoration: none;
  transition: 0.3s;
}

.footer_menu_item:hover {
  text-decoration: none;
  color: gray;
}

#footer_info {
  color: white;
  font-size: 20px;
  padding-bottom: 30px;
}
